<ion-header class="bg-gradient" id="home">
  <div class="container">
      <h1 style="color:red;">BDA</h1>
      <p class="tagline">L'association de Télécom SudParis et Institut Mines-Télécom Business School qui promeut les arts.</p>
  </div>
  <!--<div id="img">
      <div id="img-h" class="mt-3 mb-3"><img src="../images/bda.png" alt="phone" class="img-fluid"></div>
  </div>-->
</ion-header>

<ion-content>
<div class="section light-bg">
  <h2 class="text-center" data-aos="fade-up" data-aos-anchor-placement="top-bottom">Avantages</h2>
  <div class="container">
      <div class="row">
          <div class="col-md-8 d-flex align-items-center">
              <ul class="list-unstyled ui-steps">
                  <li class="media" data-aos="fade-up" data-aos-duration="2000" data-aos-anchor-placement="center-bottom">
                      <div class="circle-icon mr-4">1</div>
                      <div class="media-body">
                          <h5>Visibilité</h5>
                          <p class="text-justify">Le campus de Télécom SudParis et IMT-BS réunis environ 2000 étudiants
                              qui sont logés à l’école. De ces 2000 étudiants, se démarque 75
                              nationalités différentes ce qui fait du campus un véritable monde à
                              part entière. Ainsi en communicant sur notre campus, vous
                              communiquez à bien plus que de simples étudiants d’Evry. En effet,
                              chaque étudiant devient alors ambassadeur de votre marque auprès de sa famille, ses amis, ses
                              collègues…</p>
                      </div>
                  </li>
                  <li class="media my-4" data-aos="fade-up" data-aos-duration="2000" data-aos-anchor-placement="center-bottom">
                      <div class="circle-icon mr-4">2</div>
                      <div class="media-body">
                          <h5>Réseau</h5>
                          <p class="text-justify">Le campus d’Evry n’est pas récent. En effet, il a été crée en
                              1979 dans le but de faire bénéficier les étudiants et le corps
                              professoral de synergies entre managers et ingénieurs.
                              Aujourd’hui, fort de ces 40 ans d’expérience TSP et IMT-BS réunit
                              plus de 60 000 anciens élèves. Etant une des association les plus
                              importante du campus, le BDA compte un réseau d’anciens
                              élèves actif.</p>
                      </div>
                  </li>
                  <li class="media" data-aos="fade-up" data-aos-duration="2000" data-aos-anchor-placement="center-bottom">
                      <div class="circle-icon mr-4">3</div>
                      <div class="media-body">
                          <h5>Proximité</h5>
                          <p class="text-justify">Le BDA est une association où le maitre mot est la convivialité.
                              Effectivement, chaque membre de l’association se connait et s’apprécie.
                              Cet esprit de famille a pour principal résultat une cohésion et organisation sans faille.
                              Ainsi, en intégrant l’association par le biais du sponsoring, vous allez non seulement pouvoir bénéficier
                              de cette forte image de marque et notoriété. Mais également,  vous allez pouvoir intégrer
                              cette maison afin de mieux convaincre et recruter vos futurs collaborateurs.
                          </p>
                      </div>
                  </li>
                  <li class="media" data-aos="fade-up" data-aos-duration="2000" data-aos-anchor-placement="center-bottom">
                      <div class="circle-icon mr-4">4</div>
                      <div class="media-body">
                          <h5>Flexibilité</h5>
                          <p class="text-justify">Le cadre d’une association au sein de l’école vous offre la possibilité
                              de mettre en application vos aspirations d’une manière plus efficiente qu’en passant directement
                              par l’école. En effet, étant une cible de votre recrutement, les étudiants du BDA sont les plus aptes à savoir
                              ce dont recherche les étudiants du campus pour être convaincues par une organisation.
                              En plus de cette expertise, nous apportons également nos compétences et savoir faire au service de votre organisation
                              pour réaliser nos projets en commun au sein du campus.
                          </p>
                      </div>
                  </li>
              </ul>
          </div>
          <div class="col-md-4">
              <img src="/assets/images/img_vertical.jpg" alt="iphone" class="img-fluid" style="height: 1000px;width: auto;max-width: none;">
          </div>
      </div>


  </div>

</div>

<div class="section light-bg container">
  <div id="timeline">
      <div class="timeline-item">
          <div class="timeline-icon">

          </div>
          <div class="timeline-content">
              <h2>PARRAINER UN ÉVÈNEMENT</h2>
              <p><br>
                  En parrainant un évènement, vous bénéficierez d’une forte visibilité au sein du campus.
                  En effet, nous  allons utiliser différèrent support de communications (Affiches et banderoles,
                  réseaux sociaux,  site internet) par lesquelles nous allons diffuser la publicité de l’évènement
                  et bien entendu de notre partenariat. Conjointement, nous animerons et organiserons l’évènement.
                  Ainsi, vous serez en contact direct avec les étudiants.

              </p>
          </div>
      </div>

      <div class="timeline-item">
          <div class="timeline-icon">
              <i class="glyphicon glyphicon-check"></i>
          </div>
          <div class="timeline-content right">
              <h2>CRÉATION ET ORGANISATION D’UN ÉVÉNEMENT CONJOINTEMENT</h2>
              <p><br>
                  Cette initiative novatrice sur le campus nous permettra de répondre au mieux
                  au besoins des étudiants et à vos désirs. Cette innovation nous laisse une
                  flexibilité sur l’organisation de l’évènement et vous offre également une proximité avec les étudiants
              </p>
          </div>
      </div>

      <div class="timeline-item">
          <div class="timeline-icon">

          </div>
          <div class="timeline-content">
              <h2>PARTENAIRE DU BDA</h2>
              <p><br>
                  Devenir partenaire du BDA vous permet d’être présent sur nos supports de communication.
                  Ainsi, vous bénéficiez d’une visibilité constante auprès des étudiants.
                  Par ailleurs, vous profiterez du réseau de l’association.
              </p>
          </div>
      </div>

      <div class="timeline-item">
          <div class="timeline-icon">

          </div>
          <div class="timeline-content right">
              <h2>PARTENAIRE EXCLUSIF</h2>
              <p><br>
                  Ce contrat d’exclusivité a pour principal avantage d’augmenter
                  l’impact de notre partenariat du fait de la mise à l’écart d’autres organisations
                  souhaitant devenir partenaire du BDA. En somme, votre logo se trouvera sur les supports
                  évoqués précédemment mais également sur nos t-shirt, polo et goodies.
              </p>
          </div>
      </div>
  </div>
</div>
</ion-content>
