<app-navbar></app-navbar>

  <div>
    <ion-title>Bureau Des Arts - Les Clubs</ion-title>
  </div>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col *ngFor="let club of clubs" size="12" sizeXs="12" sizeSm="6" sizeMd="4" sizeLg="3" sizeXl="3">
        <div class="card">
          <div class="flip" >
            <div class="flip-recto">
              <img [src]="club.image"/>
              <div class="card-title"><b>{{club.name}}</b></div>
              <div>{{club.desc}}</div>
            </div>

            <div class="flip-verso">
              <div>{{club.info}}</div>
            </div>
          </div>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
