ion-content{
  display:flex;
  flex-direction: row;
  --background:linear-gradient(90deg, rgba(169,0,0,0.2) 0%, rgb(138, 12, 12) 50%,rgba(169,0,0,0.2) 100%);
}

*{
  text-align:center;
}

ion-col{
  display:flex;
  align-items:center;
}

ion-grid{
  display:flex;
  align-items:flex-start;
}

.card{
  ion-card-header{
    padding-bottom: 0.4em;
  }
  .card-title{
  --color:rgb(255, 69, 69);
  }
  img{
    padding:1em;
    height:100%;
    width:100%;
    display:block;
    overflow: hidden;
  }
}

.card{
  height:100%;
  display:flex;
  align-items:center;
  text-align: center;
  background-color: transparent;
}

.card:hover{
  box-shadow: 0 0 20px 0px red;
  transition: box-shadow 0.1s 0.1s linear;
}

.flip-verso,.flip-recto{
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.flip-verso{
  display:flex;
  align-items: center;
  position:absolute;
  width:80%;
  top:0;
  bottom:0;
  left:0;
  right:0;
  margin:auto;
  transform: rotateY(180deg);
}

.flip{
  transform-style: preserve-3d;
  transition: transform 0.8s;
}
.flip:hover{
  transform: rotateY(180deg);
  transition: transform 0.8s;
}
