ion-content{
  display:flex;
  flex-direction: row;
  --background:linear-gradient(90deg, rgba(169,0,0,0.2) 0%, rgb(138, 12, 12) 50%,rgba(169,0,0,0.2) 100%);
}

*{
  text-align:center;
}

ion-col{
  display:flex;
  align-items:center;
}

ion-grid{
  display:flex;
  align-items:flex-start;
}

ion-card{
  --background:rgb(54, 54, 54);
  --color:white;
  color:white;
  box-shadow: 0 0 10px -1px black;
  ion-card-header{
    padding-bottom: 0.4em;
    background:rgb(39, 39, 39);
  }
  ion-card-title{
  --color:rgb(255, 69, 69);
  }
  ion-card-subtitle{
    --coloe:linear-gradient(90deg,rgb(255,0,0) 0%,rgb(255,255,255) 100%)
  }
  ion-card-content{
    background:rgb(39, 39, 39);
  }
  img{
    padding:1em;
    height:200%;
    width:200%;
    background:whitesmoke;
    display:block;
    overflow: hidden;
  }
}

ion-card:hover{
  box-shadow: 0 0 20px 0px red;
  transition: box-shadow 0.1s 0.1s linear;
}
